:root {
    --bg: #f1f5f9;
    --card: #ffffff;
    --text: #0f172a;
    --primary: #4f46e5;
    --task: #eef2ff;
}

body.dark {
    --bg: #0f172a;
    --card: #1e293b;
    --text: #f8fafc;
    --task: #334155;
}

body {
    background: var(--bg);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.3s;
    color: var(--text);
}

.app {
    width: 400px;
    background: var(--card);
    padding: 24px;
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .2);
    transition: 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.add {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cbd5f5;
}

button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    transform: scale(1.05);
}

.filters {
    display: flex;
    gap: 8px;
}

.filters span {
    padding: 6px 14px;
    border-radius: 20px;
    background: #e0e7ff;
    cursor: pointer;
    transition: .3s;
}

body.dark .filters span {
    background: #475569;
}

.filters .active {
    background: var(--primary);
    color: #fff;
}

.progress {
    margin: 15px 0;
}

#bar {
    height: 8px;
    width: 0%;
    background: linear-gradient(90deg, #22c55e, #16a34a);
    border-radius: 10px;
    transition: .4s;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: var(--task);
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fade .3s;
}

li.completed {
    text-decoration: line-through;
    opacity: .6;
}

li input {
    background: none;
    border: none;
    color: var(--text);
    width: 70%;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}